<div id="ng-nav-sidebar-wrapper" ng-class="{ 'nav-bar-collapsed' : collapsed }">
  <ul id="ng-nav-sidebar-buttons">
      <li ng-repeat="button in buttons.navButtons"
          ng-class="{'ng-nav-sidebar-active': navBarCtrl.currentStateIsInHierarchy(button)}">
        <a href="" ng-click="navBarCtrl.navigate(button)">
          <div class="logo"
               ng-class="{SVGActive:navBarCtrl.state === button.link, SVGInactive:navBarCtrl.state !== button.link}"
               ng-include="button.imgUrl"></div>
          <div class="ng-nav-sidebar-label"
               ng-class="{SVGActive:navBarCtrl.state === button.link, SVGInactive:navBarCtrl.state !== button.link}">
            <span>{{button.text}}</span>
          </div>
        </a>
      </li>
      <li>
        <a>
          <div class="logo SVGInactive"></div>
        </a>
      </li>
      <li>
        <a ng-click="navBarCtrl.toggle()">
          <div class="logo SVGInactive" ng-if="collapsed"
               ng-include="buttons.toggleButton.imgUrlCollapsed">
          </div>
          <div class="logo SVGInactive" ng-if="!collapsed"
               ng-include="buttons.toggleButton.imgUrlExpanded">
          </div>
          <div class="ng-nav-sidebar-label SVGInactive">
            <span>{{buttons.toggleButton.text}}</span>
          </div>
        </a>
      </li>
  </ul>
</div>

