<div id="edit-tag-modal-div">
  <div class="modal-header" id="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="editTagModalCtrl.back()">×</button>
    <h2 class="modal-title">Edit Tag</h2>
  </div>
  <div class="modal-body">
    <!-- EDIT TAG INFO -->
    <div class="row">
      <div class="col-sm-3">Tag:</div>
      <div class="col-sm-9"><input type="text" ng-model="editTagModalCtrl.modifiedTag.text"></div>
    </div>
  </div>
  <div class="modal-footer">
    <input id="save-btn" class="btn btn-default" type="button" value="Save" ng-click="editTagModalCtrl.function(editTagModalCtrl.modifiedTag)"/>
  </div>
</div>
