#tagSearchPageTitle {
  text-align: center;
}

#results {
  background-color: rgba(255,255,255,0.8);
  padding: 3.5% !important;
}

.label {
  float: left;
  text-align: center;
}
.new-row {
  clear: left;
}

#tagSearchDiv {
  background-color: rgba(255,255,255,0.8);
}

#ts-email-div {
  background-color: rgba(255,255,255,0.8);
  padding-bottom: 1.5% !important
}

#ts-button-div {
  text-align: center;
}

#search-inst {
  text-align: center;
  font-weight: bold;
}
