#tagSearchPageTitle {
  text-align: center;
}

#results {
  background-color: rgba(255,255,255,0.8);
  padding: 3.5% !important;
}

.label {
  float: left;
  text-align: left;
}
.new-row {
  clear: left;
}

#tagSearchDiv {
  background-color: rgba(255,255,255,0.8);
}

#ts-button-div {
  text-align: center;
}
