<h1 id="tagSearchPageTitle">Search clubs by tags</h1>

<div ng-controller="TagSearchController">
  <form name="tagList">
    <div ng-repeat="tag in tsCtrl.tags">
      <label class="checkbox-inline">
        <input type="checkbox" name="tagCheck" ng-model="tag.checked"> {{tag.text}}</input>
      </label>
    </div>
    <button class="btn btn-default" type="button" ng-click="tsCtrl.search(tagList)">Search</button>
  </form>
  <ng-organizations
    ng-show="tsCtrl.orgList.length > 0"
    orgs="tsCtrl.orgList"
    total-items="tsCtrl.orgList.length"
    items-per-page="5"
    settings="false"
    tags="true">
  </ng-organizations>
</div>
