<h1 id="tagSearchPageTitle">Tag Search</h1>
<div id="tagSearchDiv">
  <form name="tagList">
    <div class="row">
      <div ng-repeat="tag in tsCtrl.tags">
        <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-sm-3">
          <input type="checkbox" name="tagCheck" ng-model="tag.checked" ng-click="tsCtrl.search(tagList)"> {{tag.text}}</input>
        </div>
      </div>
    </div>
  </form>
  <div id="ts-button-div">
    <button class="btn btn-default" type="button" ng-click="tsCtrl.clear()">Clear</button>
  </div>
</div>
</br>
<ng-organizations
  ng-show="tsCtrl.orgList.length > 0"
  orgs="tsCtrl.orgList"
  total-items="tsCtrl.orgList.length"
  items-per-page="5"
  settings="false"
  tags="true">
</ng-organizations>

