<form>
  <div id="resetPassword-div">
    <img id="logo" src="content/images/logo.jpg">
    <span id="resetPassword-header">OrgMatcher</span>
    <div id="resetPassword-div-inner">
      <div ng-if="rstPswdCtrl.token.length <= 0" id="resetPassword-user-div" class="row">
        <p>
          If you forgot your password, enter your account username and email and we will send you a message with details about how to reset your password.
        </p>
        <div class="col-sm-4">
          <span class="resetPassword-label">Username:</span>
        </div>
        <div class="col-sm-8">
          <input class="form-control" type="text" name="username" ng-model='rstPswdCtrl.username'/>
        </div>
      </div>
      <div ng-if="rstPswdCtrl.token.length <= 0" id="resetPassword-email-div" class="row top-buffer">
        <div class="col-sm-4">
          <span class="resetPassword-label">Email:</span>
        </div>
        <div class="col-sm-8">
          <input class="form-control" type="email" name="email" ng-model='rstPswdCtrl.email'/>
        </div>
      </div>
      <div ng-if="rstPswdCtrl.token.length > 0" id="resetPassword-email-div" class="row top-buffer">
        <div class="col-sm-4">
          <span class="resetPassword-label">New password:</span>
        </div>
        <div class="col-sm-8">
          <input class="form-control" type="password" name="newPassword" ng-model='rstPswdCtrl.newPassword'/>
        </div>
      </div>
      <div ng-if="rstPswdCtrl.token.length > 0" id="resetPassword-email-div" class="row top-buffer">
        <div class="col-sm-4">
          <span class="resetPassword-label">Confirm password:</span>
        </div>
        <div class="col-sm-8">
          <input class="form-control" type="password" name="confirmPassword" ng-model='rstPswdCtrl.confirmPassword'/>
        </div>
      </div>
      <div id="resetPassword-btn-div" class="row top-buffer">
        <div class="col-sm-12">
          <input id="resetPassword-btn" class="btn btn-primary" type="button" ng-click="rstPswdCtrl.parseForm()" value="Submit" />
        </div>
      </div>
    </div>
  </div>
</form>
