<div id="carousel-div">
  <div class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="content/images/banner1.jpg" alt="...">
        <div class="carousel-caption">
          <!--<h3>Caption Text</h3>-->
        </div>
      </div>
      <div class="item">
        <img src="content/images/banner2.jpg" alt="...">
        <div class="carousel-caption">
          <!--<h3>Caption Text</h3>-->
        </div>
      </div>
      <div class="item">
        <img src="content/images/banner3.jpg" alt="...">
        <div class="carousel-caption">
         <!--<h3>Caption Text</h3>-->
        </div>
      </div>
      <div class="item">
      <img src="content/images/banner4.jpg" alt="...">
        <div class="carousel-caption">
          <!--<h3>Caption Text</h3>-->
        </div>
      </div>
    </div>
    </div>
  </div> <!-- Carousel -->
</div>
<!--<div id="overview-div-mid">
    <div class="col-sm-4" ng-repeat="button in rootCtrl.navButtons">
      <a href="" ng-click="rootCtrl.navigate(button)">
        <div class="logo" ng-include="button.imgUrl"></div>
      </a>
    </div>
</div>-->


