<div class="container">
  <div id="carousel-div">
    <div class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="content/images/banner1.jpg" alt="...">
          <div class="carousel-caption">
            <!--<h3>Caption Text</h3>-->
          </div>
        </div>
        <div class="item">
          <img src="content/images/banner2.jpg" alt="...">
          <div class="carousel-caption">
            <!--<h3>Caption Text</h3>-->
          </div>
        </div>
        <div class="item">
          <img src="content/images/banner3.jpg" alt="...">
          <div class="carousel-caption">
            <!--<h3>Caption Text</h3>-->
          </div>
        </div>
        <div class="item">
          <img src="content/images/banner4.jpg" alt="...">
          <div class="carousel-caption">
            <!--<h3>Caption Text</h3>-->
          </div>
        </div>
      </div>
    </div> <!-- Carousel -->
  </div>
  <div id="overview-div-mid" class="row">
    <div class="col-sm-4" ng-repeat="button in rootCtrl.navButtons">
      <div class="overview-div-inner">
        <div id="ov-title-div">{{button.title}}</div>
        <div id="ov-des-div">{{button.description}}</div>
        <div id="ov-img-div" ng-click="rootCtrl.navigate(button.link)">
          <div class="logo" ng-include="button.imgUrl"></div>
        </div>
      </div>
    </div>
  </div>
</div>


