/** INDEX **/
#background-image {
  position: fixed;
  z-index: -2;
  left: 0;
  right: 0;
  top: 0;
  height: 125%;
  background: transparent url("/content/images/background.jpg");
  background-size: cover;
}

#first {
  margin-left: 10px;
}

/** INDEX -- NAVIGATION BAR **/
.navbar-default {
  background-color: #D30025;
  border-color: #c0392b;
  z-index: 101;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > a {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #AF0023;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #D30025;
  border-bottom-color: #D30025;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffbbbc;
  border-bottom-color: #ffbbbc;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffbbbc;
  border-bottom-color: #ffbbbc;
}

.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #D30025;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #D30025;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
}

#logo {
  height: 50px;
  width: 50px;
}

/** ALL ORGANIZATIONS **/
.highlightedText {
  /*background: rgba(255, 0, 0, 0.8);*/
  background: yellow;
}

#orgs-header-row {
  margin-bottom: 15px;
}

#orgs-div {
  /*text-align: center;*/
  background-color: rgba(255,255,255,0.8);
}

#org-search-div {
  padding-top: 25px;
  padding-left: 25px;
  float: left;
}

#org-sort-div {
  padding-top: 25px;
  padding-right: 25px;
  float: right;
}

#tags-span {
  font-size: 12px;
}

#description-row {
  margin-bottom: 10px;
}

.orgs-header {
  cursor: pointer;
  margin: 0 auto;
}

.orgs-header:hover {
  color: red;
}
