<h1 align="center">Survey</h1>
<div class="col-sm-12" id="survey-div">
	<div class="col-sm-12" ng-repeat="question in surveyCtrl.data.questions | toArray">
		<div class="row">
			<div class="col-sm-4">
				<input type="checkbox" ng-model="surveyCtrl.ans[question._id]" name={{"_"+question._id}} id={{question._id}}
               ng-false-value=false ng-true-value=true value=false> {{question.question}} </input>
			</div>
		</div>
	</div>
  <br/>
  <form name="emailForm">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-1">
          <button id="submit" class="btn btn-default" type="button" ng-click="surveyCtrl.submit()">Submit</button>
        </div>
        <div class="col-sm-3">
          <input name="email" class="form-control" type="email" ng-model="surveyCtrl.address" placeholder="your.email@email.com" ng-show="surveyCtrl.submitted" required/>
        </div>
        <div class="col-sm-1">
          <button id="test" class="btn btn-default" type="button" ng-disabled="emailForm.$invalid" ng-click="surveyCtrl.sendResults()" ng-show="surveyCtrl.submitted">Email Results</button>
        </div>
      </div>
    </div>
  </form>
  <ng-organizations
    ng-show="surveyCtrl.orgs.length > 0"
    orgs="surveyCtrl.orgs"
    total-items="surveyCtrl.orgs.length"
    items-per-page="5">
  </ng-organizations>
</div>
