<h1 align="center">Student Organizations</h1>
<div class="col-sm-8 col-sm-offset-2" id="orgs-div">
  <div class="row">
    <div class="col-sm-4" id="org-search-div">
      <input type="text" ng-model="orgsCtrl.query" placeholder="Search" class="form-control" id="orgs-search-box"/>
      <i class="form-control-feedback" class="glyphicon glyphicon-search"></i>
    </div>
    <div class="col-sm-4" id="org-sort-div">
      <select class="form-control"
              ng-model="orgsCtrl.selectedOption"
              ng-options="option.name for option in orgsCtrl.options"
              ng-change="orgsCtrl.sortOrgs(orgsCtrl.selectedOption)">
        <option value="" disabled selected>Sort by...</option>
      </select>
    </div>
  </div>
  <div class="col-sm-12" ng-repeat="org in orgsCtrl.orgs | toArray | filter:orgsCtrl.search">
      <h3 class="orgs-header" ng-click="orgsCtrl.openModal(org, orgsCtrl.images)">{{org.name}}</h3>
      <span ng-show="orgsCtrl.search(org) && orgsCtrl.query != ''" ng-bind-html="orgsCtrl.highlight(org.description, orgsCtrl.query)">{{org.description}}</span>
  </div>
</div>
