<h1 id="pageTitle"> {{ crClCtrl.title }} </h1>

<div id="clubInfo" ng-controller="createClub.controller as crClCtrl">
	<p>Club Name:</p>
	<input id="clubName" ng-model="club.name" />
	
	<p>Description:</p>
	<input id="description" ng-model="club.description" />
	
	<p>Tags:</p>
	<input id="tags" ng-model="club.tags" />
	
	<p>Club Leader Contact Information:</p>
	<div id="leaderInfo">
		<p>Name:</p>
		<input id="leaderName" ng-model="club.contact.name" />
		
		<p>Email:</p>
		<input id="email" ng-model="club.contact.email" />
		
		<p>Phone Number:</p>
		<input id="phone" ng-model="club.contact.number" />
	</div>
</div>

<button id="submit" ng-click="submit()">Submit</button>
<button id="cancel" href="/">Cancel</button>