<div class="col-sm-10 col-sm-offset-1" id="orgs-div">
  <div class="row" id="orgs-header-row">
    <div class="col-sm-4" id="org-search-div">
      <input type="text" ng-model="ngOrgsCtrl.query" placeholder="Search" class="form-control" id="orgs-search-box"/>
      <i class="form-control-feedback" class="glyphicon glyphicon-search"></i>
    </div>
    <div class="col-sm-4" id="org-sort-div">
      <select class="form-control"
              ng-model="ngOrgsCtrl.selectedOption"
              ng-options="option.name for option in ngOrgsCtrl.options"
              ng-change="ngOrgsCtrl.sortOrgs(ngOrgsCtrl.selectedOption)">
        <option value="" disabled selected>Sort by...</option>
      </select>
    </div>
  </div>
  <div class="col-sm-12" ng-repeat="org in orgs | slice:start:end | filter:ngOrgsCtrl.search">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="orgs-header" ng-click="ngOrgsCtrl.openModal(org, ngOrgsCtrl.images)">{{org.name}}</h3>
        <span id="tags-span" class="col-sm-offset-1" ng-bind-html="ngOrgsCtrl.highlight(org.tags.toString(), ngOrgsCtrl.query)">{{org.tags.toString()}}</span>
      </div>
    </div>
    <div class="row" id="description-row">
      <span ng-show="ngOrgsCtrl.search(org) && ngOrgsCtrl.query != ''" ng-bind-html="ngOrgsCtrl.highlight(org.description, ngOrgsCtrl.query)">{{org.description}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-sm-offset-3">
      <pagination class="orgs_pagination" total-items="totalItems" ng-model="currentPage" ng-change="ngOrgsCtrl.pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
    </div>
  </div>
</div>
