<div class="col-sm-10 col-sm-offset-1" id="orgs-div">
  <div class="row" id="orgs-header-row">
    <div class="col-sm-4" id="org-search-div">
      <input type="text" ng-model="ngOrgsCtrl.query" placeholder="Search" class="form-control" id="orgs-search-box"/>
      <i class="form-control-feedback" class="glyphicon glyphicon-search"></i>
    </div>
    <div class="col-sm-4" id="org-sort-div">
      <select class="form-control"
              ng-model="ngOrgsCtrl.selectedOption"
              ng-options="option.name for option in ngOrgsCtrl.options"
              ng-change="ngOrgsCtrl.sortOrgs(ngOrgsCtrl.selectedOption)">
        <option value="" disabled selected>Sort by...</option>
      </select>
    </div>
  </div>
  <div class="row" ng-repeat="org in ngOrgsCtrl.filtered = ngOrgsCtrl.orgs | search:ngOrgsCtrl.query:ngOrgsCtrl.settings | orderBy:ngOrgsCtrl.selectedOption.id | startFrom:(ngOrgsCtrl.currentPage-1)*ngOrgsCtrl.itemsPerPage | limitTo:ngOrgsCtrl.itemsPerPage">
    <div ng-class="{ 'col-md-8': ngOrgsCtrl.settings == 'true', 'col-sm-12': ngOrgsCtrl.settings == 'false' }">
      <h3 class="orgs-header" ng-click="ngOrgsCtrl.openModal(org, ngOrgsCtrl.images)">{{org.name}}</h3>
      <span ng-if="ngOrgsCtrl.tags == 'true'" id="tags-span" class="col-sm-offset-1" ng-bind-html="ngOrgsCtrl.highlight(org.tags.toString(), query)">{{org.tags.toString()}}</span>
    </div>
    <div ng-if="ngOrgsCtrl.settings == 'true'" class="col-md-4">
      <div class="row">
        <div class="col-sm-4">
          <input class="btn btn-default" type="button" value="{{ngOrgsCtrl.buttons.editBtn.text}}" ng-click="ngOrgsCtrl.buttons.editBtn.function(org)">
        </div>
        <div class="col-sm-4">
          <input class="btn btn-default" type="button" value="{{ngOrgsCtrl.buttons.deleteBtn.text}}" ng-click="ngOrgsCtrl.buttons.deleteBtn.function(org)">
        </div>
        <div ng-if="ngOrgsCtrl.isActive(org)" class="col-sm-4">
          <input class="btn btn-default" type="button" value="{{ngOrgsCtrl.buttons.deactivateBtn.text}}" ng-click="ngOrgsCtrl.buttons.deactivateBtn.function(org)">
        </div>
        <div ng-if="!ngOrgsCtrl.isActive(org)" class="col-sm-4">
          <input type="button" value="{{ngOrgsCtrl.buttons.activateBtn.text}}" ng-click="ngOrgsCtrl.buttons.activateBtn.function(org)">
        </div>
      </div>
    </div>
    <div class="row" id="description-row">
      <span ng-show="ngOrgsCtrl.search(org) && query != ''" ng-bind-html="ngOrgsCtrl.highlight(org.description, query)">{{org.description}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-sm-offset-3">
      <pagination total-items="ngOrgsCtrl.totalItems" ng-model="ngOrgsCtrl.currentPage" class="pagination-sm" items-per-page="ngOrgsCtrl.itemsPerPage"></pagination>
    </div>
  </div>
</div>
