<style>
  .translucent {
    background-color: rgba(255,255,255,0.8);
    padding: 3.5% !important;
  }
</style>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<body>
  <div class="container">
    <h1 align="center">User Settings</h1>
    <div id="user-settings-div">
      <div id="new-user-btn-div" ng-show="userSettingsCtrl.isStudentLifeAdmin()">
        <input id="new-user-btn" type="button" class="btn btn-default" value="Add New User" ng-click="userSettingsCtrl.openAddUserModal()">
      </div>
      <div id="change-password-btn-div">
        <input id="show-change-password-btn" type="button" class="btn btn-default" value="Change Password" ng-click="userSettingsCtrl.showChangePasswordDiv()" ng-show="userSettingsCtrl.isStudentLifeAdmin()">
      </div>
      <div id="change-password-div" ng-show="userSettingsCtrl.showPasswordDiv || !userSettingsCtrl.isStudentLifeAdmin()">
          Old Password<br>
          <input type="password" ng-model="userSettingsCtrl.update.old"><br>
          New Password<br>
          <input type="password" ng-model="userSettingsCtrl.update.newPass"><br>
          Retype Your New Password<br>
          <input type="password" ng-model="userSettingsCtrl.update.repeat"><br>
          <input class="btn btn-default" type="button" value="Submit" ng-click="userSettingsCtrl.changePassword()">
          <br>
          <span class="error">{{userSettingsCtrl.err}}</span>
        </div>
      </div>
      <div id="edit-user-div" ng-show="userSettingsCtrl.isStudentLifeAdmin()" >
        <table class="table table-hover translucent">
          <thead>
          <tr>
            <th>Username</th>
            <th>Admin Role</th>
            <th>Organizations</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in userSettingsCtrl.data.users | toArray">
            <td>{{user.Username}}</td>
            <td>{{user.Type}}</td>
            <td>{{user.Orgs.toString()}}</td>
            <td>
              <input type="button" class="btn btn-default" value="Edit" ng-click="userSettingsCtrl.openEditUserModal(user)">
              <input type="button" class="btn btn-default" value="Delete" ng-click="userSettingsCtrl.deleteUser(user)">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
