<div>
  <div class="modal-header" id="modal-header">
    <h2 class="modal-title">{{modalCtrl.org.name}}</h2>
  </div>
  <div class="modal-body">
    <div class="row"><div class="modal-info-header"><h4>Description</h4></div></div>
    <p><pre>{{modalCtrl.org.description}}</pre></p>

    <div class="row"><div class="col-sm-3 info"><strong>Social Media Links:</strong></div></div>

    <!--<div class="row"><div class="col-sm-3 info">{{modalCtrl.org.links}}</div></div>-->
    <div class="row"><div class="col-sm-3 info">
      <div class="col-sm-12" ng-repeat="link in modalCtrl.org.links | toArray">

        <a href = {{link.$value}}> {{link.$value}}</a>

      </div>
    </div></div>


    <div class="row"><div class="col-sm-3 info"><strong>Regular Meeting Times:</strong></div></div>
    <p><pre >{{modalCtrl.org.meetings}}</pre></p>

    <!--<div class="row"><div class="modal-info-header"><h4>Images</h4></div></div>-->
    <!--<div class="container" id="modal-thumbnail-container">-->
      <!--<div id="links" class="orgs-links" ng-repeat="img in modalCtrl.images">-->
        <!--<a href="{{img.url}}" title="{{img.name}}" data-gallery>-->
          <!--<img src="{{img.url}}" alt="{{img.name}}" class="thumbnail">-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="modal-footer">
    <div class="modal-contact-info">
      <div class="row"><div class="modal-info-header"><h4>Contact Information</h4></div></div>
      <div class="row"><div class="col-sm-3 info">{{modalCtrl.org.contact.name}}</div></div>
      <div class="row"><div class="col-sm-3 info"><strong>Email:</strong></div></div>
      <div class="row"><div class="col-sm-3 info">{{modalCtrl.org.contact.email}}</div></div>



      <div class="row"><div class="col-sm-3 info"><strong>Phone Number:</strong></div></div>
      <div class="row">

        <div class="col-sm-3 info">{{modalCtrl.org.contact.phone}}</div>
        <button class="btn btn-primary" id="modal-back-btn" ng-click="modalCtrl.back()">Exit</button>
      </div>
    </div>
  </div>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
<!-- The modal dialog, which will be used to wrap the lightbox content -->
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body next"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left prev">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Previous
        </button>
        <button type="button" class="btn btn-primary next">
          Next
          <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>




