#modal-header {
  text-align: center;
}

#modal-back-btn {
  margin-right: 5%;
}

.modal-info-header {
  float: left;
  padding-left: 2.5%;
}

.info {
  text-align: left;
}

#modal-thumbnail-container {
  width: 100% !important;
  padding: 0 !important;
}

#links > a {
  display: block;
  float: left;
}

#links > a > img {
  height: 75px;
  width: 75px;
}

#modal-back-btn {
  margin-right: 5%;
}

#admin-delete-btn {
  background-color: red;
}

#admin-edit-btn {
  background-color: green;
}


